<div class="row">
  <div class="col-md-10 mx-auto">
    <h3>Your blood tests</h3>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Note</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @blood_checks.each do |blood_check| %>
        <tr>
          <td><%= blood_check.check_date %></td>
          <td><%= blood_check.notes %></td>
          <td>
            <%= link_to 'View', blood_check_path(blood_check.identifier) %>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="check-<%= blood_check.identifier %>" checked>
              <label class="form-check-label" for="check-<%= blood_check.identifier %>">
                Compare
              </label>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>