<script>
    const pageBloodCheck = <%= raw(@blood_check.to_json(only: [:identifier, :check_date, :notes])) %>;
    const pageEntries = <%= raw(@blood_check.user_entries.to_json) %>;
</script>

<div class="row" id="blood-check-new">
  <div class="col-md-10 mx-auto">
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="successfulCreationToast" class="toast bg-info" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">Info</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          {{isNew ? "Blood check has been created!" : "Blood check has been updated!"}}
        </div>
      </div>
    </div>

    <%= link_to 'Back to list', blood_checks_path, class: 'float-end btn btn-sm btn-outline-primary' %>
    <h3 class="mb-4">New blood test</h3>

    <%= form_with(model: @blood_check, local: true, html: { class: "form", "@submit.prevent": "onSubmit" }) do |form| %>
      <div class="row g-3 align-items-center mb-2">
        <div class="col-auto">
          <%= form.label :check_date, class: "col-form-label" %>
        </div>
        <div class="col-auto">
          <%= form.date_field :check_date, required: true, class: "form-control", "v-model": "bloodCheck.check_date" %>
        </div>
        <div class="col-auto">
          <span class="form-text">

          </span>
        </div>
      </div>

      <div class="row g-3 align-items-center mb-2">
        <div class="col-auto">
          <%= form.label :notes, class: "col-form-label" %>
        </div>
        <div class="col">
          <%= form.text_field :notes, required: true, class: "form-control", "v-model": "bloodCheck.notes" %>
        </div>
        <div class="col-auto">
          <span class="form-text">

          </span>
        </div>
      </div>
      <div class="actions mt-3 text-center">
        <button type=submit class="btn btn-outline-primary">Load all the results from PDF...</button>
      </div>

      <table class="table" id="blood-checks-table" v-if="entries.length > 0">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Value</th>
          <th scope="col">Unit</th>
          <th scope="col">Reference</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
          <tr v-for="entry in entries" :key="entry.identifier">
            <td>
              <input class="form-control" v-model="entry.name" required>
            </td>
            <td>
              <input class="form-control" v-model="entry.value" required placeholder="0.1" type="number" step="0.01">
            </td>
            <td>
              <input class="form-control" v-model="entry.unit" required>
            </td>
            <td>
              <input class="form-control" v-model="entry.reference" required>
            </td>
            <td>
              <button class="float-end btn btn-outline-primary" @click="deleteEntry(entry)">X</button>
            </td>
          </tr>
        </tbody>
      </table>

      <button class="float-end btn btn-outline-primary" @click="addEntry">Add entry</button>

      <div class="actions mt-3">
        <button type=submit class="btn btn-primary">{{isNew ? "Create Blood Check" : "Update Blood Check"}}</button>
      </div>
    <% end %>
  </div>
</div>